<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <h1 class="about-title">About Fernando Botero (Medellin, Colombia 1932</h1>
    <h2 class="class-h3">Pintor e esculor</h2>
    <p class="about-p">In 1948, he started work as an illustrator. He moved to Bogotá in 1951 and held his first international show at Leo Matiz Gal. Leaving for Madrid in 1952, he studied at the San Fernando Academy. From 1953 to 1955, he learned the technique of frescoes and art history in Florence, which has influenced his paintings ever since. Back in Colombia, he exhibited at the National Library in Bogotá, and began teaching at the School of Fine Arts at the National University; that same year, he spent some time in Mexico, studying the political murals of Rivera and Orozco, whose influence is evident in his political perspective. </p>
    <p class="about-p"> Botero's visit to the United States in the late 1950s would, ten years later, motivate his return to New York and work in this city. Although abstract expressionism interested him, he drew inspiration from Italian Renaissance. During this period, he began to experiment with creating volume in his paintings, expanding the figures and compressing the space around them, a quality he continues to explore when painting portraits of imaginary groups or parodies about the work of famous masters. </p>
    <p class="about-p"> With a large number of exhibitions in Europe and North and South America, Botero has received numerous awards, including the First Intercol, at the Museum of Modern Art in Bogotá, and is featured in the collection of major museums worldwide. Since the early 1970s, Botero divides his time between Paris, Madrid and Medellin. </p>
    <p class="about-p"> In Fernando Botero's satirical works, politicians, military and religious, musicians and royalty, are portrayed with round and motionless figures, assuming the characteristic of static human life. Of a humorous nature at first sight, Botero's paintings are generally a social commentary with political touches. </p>
    <p class="about-p"> The artist Fernando Botero is one of the most acute observers of the Colombian conjuncture and it is interesting to note the two most salient features of almost all of his work: his figures are fat and his mouth is closed. They look like people well enmeshed in patronage systems, in which they receive food in exchange for their silence.
      For this artist, color is fundamental in his paintings because it illuminates the painting. In his paintings there is only form and the interior color always seeks a certain monumentality.
      There are those who do not like his paintings and sculptures, others who see an apology for obesity in his work. But Botero's work is an exciting retelling of the Renaissance's ideals of beauty. </p>
    <a class="link" href="/home">return to home-page</a>
    <a class="link" href="/works">see works</a>
  </body>
</html>