<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <h1 class="home-title">Welcome to a site about Fernando Botero Angulo</h1>
    <h3 class="home-h3">Colombian figurative artist, whose style is called by some "Boterism", which gives him an unmistakable identity.His works stand out above all for roundabout figures, which may suggest the stateness of humanity. His sculpture is perceived as a social criticism, especially with regard to human greed.</h3>
    <img src="/images/botero.jpg">
    <a class="link" href="/about">learn about</a>
    <a class="link" href="/works">see works</a>
  </body>
</html>